@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #5f00ad 1%, #800000 29%, #000000 99%);
}

p  {
    color: white;
}

.nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: rgb(102, 102, 102);
}

.navbar-brand img {
    width: 45px;
}

.navbar-toggler {
    background-color: rgb(105, 104, 104);
}

.sidebar {
    color: white;
    background: linear-gradient(270deg, #5f00ad 1%, #800000 29%, #1f1f1f 99%);

}

.card {
    background: linear-gradient(270deg, #5f00ad 1%, #800000 29%, #1f1f1f 99%);
    color: white;
}

.card a {
    text-decoration: none;
    color: white;
}

.slide-text,
.footer-text {
    color: white;
    margin: auto auto;

}

footer,
.btn-outline-primary {
    background-color: #252525;
    

}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}